h1 {
  margin-top: 10px;
  color: #142d4c;
  font-size: 60px;
}

h2 {
  color: #385170;
  font-size: 18px;
}

h3 {
  color: #385170;
  font-size: 15px;
}

h4 {
  font-size: 80px;
  color: #ffc93c;
}

h5 {
  font-size: 15px;
  margin-bottom: 20px;
  color: #385170;
}

img {
  padding: 10px;
}

body {
  background-color: #142d4c;
}

.form-inline {
  width: auto;
  margin-right: 5px;
}

.btn-secondary {
  background-color: #9fd3c7;
  border-color: #9fd3c7;
}

#border {
  max-width: 725px;
  background-color: white;
  padding: 40px;
  margin-top: 20px;
  border-radius: 10%;
}

#main-body {
  max-width: 700px;
  max-height: 550px;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

#forecast {
  padding: 25px;
}

#humidity-style,
#feels-like-style,
#wind-style {
  color: #385170;
  background-color: whitesmoke;
  border-radius: 25%;
  margin: 5px;
}

#forecast-1,
#forecast-2,
#forecast-3,
#forecast-4,
#forecast-5,
#forecast-6 {
  color: #385170;
  background-color: whitesmoke;
  border-radius: 40%;
}
